useDynLib(coxme)
import(bdsmatrix)
importFrom(nlme, ranef, fixef) 
export("coxme")
export("coxmeFull")
export("coxmeMlist")
export("coxme.control")
export('expand.nested')
S3method(print, coxme)
S3method(ranef, coxme)
S3method(fixef, coxme)
