useDynLib(coxme)
import(bdsmatrix)
export("coxme")
export("coxmeFull")
export("coxmeMlist")
export("coxme.control")
export('expand.nested')
export('fixef', 'fixed.effects')
export('ranef', 'random.effects')
S3method(print, coxme)
S3method(fixef, coxme)
S3method(ranef, coxme)
